* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}
body {
  padding: 1rem;
  text-align: center;
}

h2 {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid rgb(37, 23, 124);
}

.list {
  background-color: #4545c2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0 0.5rem 0.5rem rgba(10, 115, 163, 0.3);
}

.list .section-1 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
  height: 500px;
  overflow: hidden;
}

.list .section-2 {
  display: flex;
  justify-content: space-around;
  height: 500px;
  overflow: hidden;
}

.list .second {
  border: 2px solid red;
  list-style: none;
  padding: 1rem;
}

.list .second h3 {
  border-bottom: 2px solid gray;
  padding: 0.6rem 0.3rem;
  margin-bottom: 1rem;
}
.list .second p {
  margin-bottom: 0.5rem;
}

.my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.my-form input {
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 256px;
  cursor: auto;
}

.my-form button {
  border: none;
  background-color: #383847;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 128px;
  color: white;
}

.my-form button:hover {
  transition: 0.3s ease-in-out;
  background-color: #555566;
  cursor: pointer;
}
